on: [push]

name: CI

jobs:
  docker:
    name: CI/Docker
    runs-on: ubuntu-latest
    steps:
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions/checkout@v2
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features
      - uses: cachix/install-nix-action@v9
      - run: nix-build docker.nix
      - uses: actions-rs/cargo@v1
        with:
          command: build
      - run: ./target/debug/palisade git-hub-action
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
